<div class="list-groups">
    {% assign certificates = data[1] | sort: 'date' | reverse %}
    {% for content in certificates %}
    <div class="list-group col-md-6">
      <table class="table-cv list-group-table">
        <tbody>
          <tr>
            <td colspan="2" class="list-group-category">
                <a href="{{ content.url | default: # }}">{{ content.name }}</a>
            </td>
          </tr>
          <tr>
            <td class="list-group-name"><b>{{ content.issuer }}</b></td>
            <td class="list-group-name">{{ content.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endfor %}
  </div>